*{
    box-sizing: border-box;
}
body
{
    background-color: var(--primary-color);
    margin:0;
}

:root
{
    
    --primary-color: rgb(8, 0, 36);
    --secondary-color: #15194e75;
}
header
{
    overflow:hidden;
    padding:20px;
    background-color: rgb(14, 14, 53);
}
form
{
    float:right;
}
.megaheader
{

   display: flex;
   justify-content: center;
}

.search
{

    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding:10px 20px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    width:50px;
    height: 20px;
    
    
}
.search:focus{
    outline:0;
    background-color: var(--primary-color);
}
.movie{
 width:330px;
 margin:20px;
 border-radius:3px;
 background-color: var(--secondary-color);
 position:relative;
 overflow:hidden;
}
main
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}
.movie img{
    width:100%;
}
.movieinfo
{
    color:orange;
    display:flex;
    align-items:center;
    justify-content: space-between;
    
 
}
.movieinfo span{

    border-radius: 3px;
    font-weight: bold;
    font-size:20px;
    margin:3px;
}
.Ratings
{
    display:none;
}
.opis:hover .Ratings
{
    display:block;
}
h3
{
    margin-top: 0;
}
span.green
{
    color:rgb(0, 255, 0);
}
span.orange
{
    color:rgb(250, 208, 130)
}
span.red
{
    color:rgb(247, 46, 46);
}


#header
{

    float:left;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    color:orange;
    top:0;
    padding: 0;
    border: none;
    background: none;
    height:30px;
    width:70px;
    font-size: 30;
    
 
}
#header:hover
{
    color:lightyellow;
}
h6
{
    color:rgb(145, 74, 49);
    margin:5px;
}

#tags{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    align-items: center;
    margin: 10px auto;
}

.tag{
    color: white;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}
.opis
{
    justify-content:end;
    color:white;
}
.RatingInput
{
    border-radius: 25px;
    border: 1px orange solid;
    color:orange;
    padding:3px;
    margin:5px;
    background:var(--secondary-color);
}
.tag.highlight{
    background-color: red;
}